<h2><%= @band.name %></h2>

<h3>Albums</h3>
<ul>
  <% @band.albums.each do |album| %>
    <li><%= link_to album.name, album_url(album) %></li>
  <% end %>
</ul>

<%= render :partial => "shared/create_edit_link", locals: {name: @band.class.name.downcase} %>