<h2><%= @band.name %></h2>

<h3>Albums</h3>
<ul>
  <% @band.albums.each do |album| %>
    <li><%= link_to album.name, album_url(album) %></li>
  <% end %>
</ul>

<%= edit_link @band.class.name.downcase %>
<br>
<%= destroy_button @band %>